/* ## Box Sizing
--------------------------------------------- */
*,
*:before,
*:after{
    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
}

   
/* ## Float Clearing
--------------------------------------------- */
.site-container:before,
.site-header:before,
.content-title:before,
.nav-primary:before,
.wrap:before,
.container:before{
	content:"";
	display: table;
}

.site-container:after,
.site-header:after,
.content-title:after,
.nav-primary:after,
.wrap:after,
.container:after{
	content:"";
	display: table;
}

/* ## Fonts
--------------------------------------------- */
@font-face {
    font-family: 'Niagara Solid';
	src: url('../fonts/NiagaraSolidRegular.eot'); /* IE9 Compat Modes */
	src: url('../fonts/NiagaraSolidRegular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/NiagaraSolidRegular.woff2') format('woff2'), /* Modern Browsers */
    url('../fonts/NiagaraSolidRegular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/NiagaraSolidRegular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/NiagaraSolidRegular.svg') format('svg'); /* Legacy iOS */  
    font-weight: normal;
	font-style: normal;
}

@font-face {
  font-family: 'Myriad';
  src: url('../fonts/myriad-mm.eot'); /* IE9 Compat Modes */
  src: url('../fonts/myriad-mm.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/myriad-mm.woff2') format('woff2'), /* Modern Browsers */
    url('../fonts/myriad-mm.woff') format('woff'), /* Modern Browsers */
    url('../fonts/myriad-mm.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/myriad-mm.svg') format('svg'); /* Legacy iOS */  
    font-weight: normal;
  	font-style: normal;
}

/* ## Defaults
--------------------------------------------- */
html{
    font-size: 62.5%; /* 10px browser default */
    height: 100%;
}

/* Chrome fix */
body > div {
    font-size: 2rem;
}

body{
	background: linear-gradient( rgba(240,239,238,.23), transparent 1px),
				linear-gradient(90deg, rgba(240,239,238,.23), transparent 1px);
	background-size: 10px 10px;
	background-position: center center;
/* 	background: url(../images/background.png) repeat; */
	color: #9c9b9b;
	font-family: 'Myriad', sans-serif;
	font-size: 14px;
    font-size: 1.4rem;
    -webkit-font-smoothing: antialiased;
	margin: 0;
}

a{	
	text-decoration: none;
	display:block;
	color: #9c9b9b;
	width: 100%;
}

ol,
ul,
h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

h1{
	font-size: 33px;
	font-sixe: 3.3rem;
	font-weight: lighter;
}

.text-center{
	text-align: center;
}

.left{
	float: left;
}

.right{
	float:right;
}

/* ## Structure
--------------------------------------------- */
.site-container{
	height: auto;
	margin: 0 auto;
	padding: 0;	
}

.site-header{
	margin-top: 104px;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.19);
}

.wrap{
	width: 100%;
	margin: 0 auto;
	max-width: 980px;
}

.site-header > .wrap{
	padding: 25px 0;
}

.container{
	width: 100%;
	height: auto;
	padding: 0;
	margin: 30px auto;
}

/* ## Portfolio
--------------------------------------------- */
.square{
	position: relative;
	float: left;
	width: 22.5%;
	padding-bottom: calc(22.5% + 25px); 
	margin: 0 0 0.816% 2.5%; /* = 20px / 245px = 0.0816, 10% / 4 = 0.25 */
	overflow: hidden;
}

.content{
	position: absolute;
	width: 100%; 
	height: 100%;
	padding: 0;
}

.table{
	display: table;
	width: 100%;
	height: 100%;
}

.table-cell{
	display: table-cell;
	vertical-align: middle;
	padding: 0 5%;
	padding-bottom: 25px;
}

.article-title,
.article-group{
	line-height: 1;
	padding:0;
	margin: 0;
}


.article-title{
	color: #4f4e4e;
	font-size: 16px;
	font-size: 1.6rem;
}

.article-group{
	color: #868585;
	font-size: 12px;
	font-size: 1.2rem;
}

p.article-image{
	position: relative;
	width: 100%;
	height: 77%;
	background: #fff;
	box-shadow: 0 0 10px 1px rgba(0,0,0, .16);
	padding: 0;
	margin: 0;
	margin-top: 14px;
/* 	padding-bottom:  25px; */
}

.article-image > img{
	width: auto;
	height: auto;
}

.lupa:after{
	display: block;
	content:"";
	position: absolute;
	width: 52px;
	height: 52px;
	bottom: -26px;
	right: 8px;
	
	border: 7px solid rgba(92,91,91,.23);
	border-radius: 50%;
	background-image: linear-gradient( rgba(0,0,0,.06), transparent 1px),
					linear-gradient(90deg, rgba(0,0,0,.06), transparent 1px),
					url(../images/lupa.png);
	background-repeat: repeat,repeat, no-repeat;
	background-size: 10px 10px,10px 10px,17px 14px;
	background-position: center center;
	background-clip: padding-box;
	background-color: rgba(212,40,25,1);
}


/* ## Titles
--------------------------------------------- */
.content-title{
	padding: 40px 5%;
	margin: 0 auto;
	margin-top: 40px;
}

.title-area{
	position: absolute;
	top: 80;
}

.logo{
	width: 130px;
	height: 130px;
	border: 8px solid rgba(92, 92, 91, 0.22);
	border-radius:50%;
}

.site-title{
	display: block;
	padding:0;
	margin:0;
}

.site-title a{
	font-family: 'Niagara Solid', sans-serif;
	font-size: 54px;
}

.brand{
	color: #b62c20;
}

/* ## Menu and navigation
--------------------------------------------- */
.nav-primary{
	display: block;
	width: calc(980px - 147px - 186px);
	margin-left: 147px;
}

.nav-content{
	display: block;
	width: 100%;
	margin: 0 auto;
	padding: 5px 5%;
	text-align: center;
}

.nav-menu .menu-item,
.sort-menu .menu-item{
	display: inline-block;
	text-transform: uppercase;
}

.nav-menu .menu-item{
	text-align: left;
	font-size: 18px;
	font-size:1.8rem;
	margin-left:40px;
}

.nav-menu .menu-item a:hover:after,
.nav-menu .menu-item a.active:after,
.nav-menu .menu-item a:focus:after{
	display: block;
	position: relative;
	content: "";
	width:100%;
	top: 11px;
	border-top: 1px solid #b62c20;
}

.sort-menu .menu-item{
	font-size: 14px;
	font-size: 1.4rem;
	margin-left: 12px;
	position: relative;
}

.sort-menu .menu-item:not(:first-child):before{
	content:"/";
	position:absolute;
	bottom: 0;
	left:-10px;
}

.sort-menu .menu-item a:hover,
.sort-menu .menu-item a:focus,
.sort-menu .menu-item a.active{
	color: #b62c20;
}


/* ## Widgets
--------------------------------------------- */
.icons{
	display: inline-block;
	width: 186px;
}
.social-icon{
	display: block;
	float:left;
	background-image: url(../images/icons.png);
	background-repeat: no-repeat;
	width: 26px;
	height: 26px;
	margin-left: 5px;
}

.facebook{
	background-position: 0px -26px;
}
.twitter{
	background-position: -26px -52px;
}
.dribble{
	background-position: -26px 0px;
}
.behance{
	background-position: 0px 0px;
}
.googleplus{
	background-position: -26px -26px;
}
.rss{
	background-position: 0px -52px;
}

/* ## Colour
--------------------------------------------- */
.site-header{
	background-color: #fff;
}

.content-title{
	color: #7e7e7e;
}



